#**State Minimum Wage Dataset Cleaning**

This data includes the hourly minimum wage set for 54 U.S. states and territories for the years 1968 through 2020 as well as that hourly minimum wage in 2020 dollars. Dataset collected from [Kaggle](https://www.kaggle.com/datasets/lislejoem/us-minimum-wage-by-state-from-1968-to-2017)

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
#Assigning file path to varible
dir = "/content/drive/MyDrive/Kaggle/State Minimum Wage Data.csv" 
##actual directory has been changed for github

In [18]:
#Reading file
df=pd.read_csv(dir, encoding='cp1252')
df.head(3)

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.000,0.00,0.00,0.00,NaN
1,1968,Alaska,2.100,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.100,15.61,2.10,15.61,NaN
2,1968,Arizona,0.468,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.468,3.48,0.66,4.91,(b)

In [19]:
#Checking percentage of missing values in dataframe

percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

missing_value_df

,column_name,percent_missing
Year,Year,0.000000
State,State,0.000000
State.Minimum.Wage,State.Minimum.Wage,0.000000
State.Minimum.Wage.2020.Dollars,State.Minimum.Wage.2020.Dollars,0.000000
Federal.Minimum.Wage,Federal.Minimum.Wage,0.000000
Federal.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage.2020.Dollars,0.000000
Effective.Minimum.Wage,Effective.Minimum.Wage,0.000000
Effective.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage.2020.Dollars,0.000000
CPI.Average,CPI.Average,0.000000
Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Uncleaned.Data,0.000000
Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value,0.000000
Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.Low.Value.2020.Dol...,0.524109
Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value,0.000000
Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value.2020.Do...,0.524109
Footnote,Footnote,84.067086

In [20]:
## storing dtype before converting

b4_conver = df.dtypes

In [21]:
df.columns

Index(['Year', 'State', 'State.Minimum.Wage',
       'State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage',
       'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage',
       'Effective.Minimum.Wage.2020.Dollars', 'CPI.Average',
       'Department.Of.Labor.Uncleaned.Data',
       'Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars',
       'Department.Of.Labor.Cleaned.High.Value',
       'Department.Of.Labor.Cleaned.High.Value.2020.Dollars', 'Footnote'],
      dtype='object')

In [22]:
#dropping columns not needed
df=df.drop(columns = ['State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage',
       'Effective.Minimum.Wage.2020.Dollars','CPI.Average','Department.Of.Labor.Uncleaned.Data','Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars',
       'Department.Of.Labor.Cleaned.High.Value',
       'Department.Of.Labor.Cleaned.High.Value.2020.Dollars', 'Footnote' ], axis=1)

In [23]:

df.dtypes

Year                      int64
State                    object
State.Minimum.Wage      float64
Federal.Minimum.Wage    float64
dtype: object

In [24]:
#Renaming columns

columns_dict = {'Year': 'year',
                'State': 'state',
                'State.Minimum.Wage': 'state_min_wage',
                'Federal.Minimum.Wage': 'fed_min_wage'                 
                }

df = df.rename(columns= columns_dict)
df.columns

Index(['year', 'state', 'state_min_wage', 'fed_min_wage'], dtype='object')

In [11]:
df.dropna(inplace = True)

In [25]:
df.head()

   year       state  state_min_wage  fed_min_wage
0  1968     Alabama         0.00000          1.15
1  1968      Alaska         2.10000          1.15
2  1968     Arizona         0.46800          1.15
3  1968    Arkansas         0.15625          1.15
4  1968  California         1.65000          1.15

In [26]:
df.shape

(2862, 4)

In [32]:
#Checking percentage of missing values in dataframe

percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

missing_value_df

                   column_name  percent_missing
year                      year              0.0
state                    state              0.0
state_min_wage  state_min_wage              0.0
fed_min_wage      fed_min_wage              0.0

In [38]:
#Conversion of state names to state abbreviations
state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "Guam": "GU",
    "Puerto Rico": "PR",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
#abbrev_to_us_state = dict(map(reversed, state_to_abbrev.items()))

In [39]:
#Replacing the current state values with conversions
df['state'].replace(state_to_abbrev, inplace = True)

In [46]:
df.head()

   year state  state_min_wage  fed_min_wage
0  1968    AL         0.00000          1.15
1  1968    AK         2.10000          1.15
2  1968    AZ         0.46800          1.15
3  1968    AR         0.15625          1.15
4  1968    CA         1.65000          1.15

In [51]:
#Filtering the data to only collect it from the years 2007-2020
years_df = df.loc[(df['year']>= 2007) & (df['year']<= 2020)]
years_df

      year state  state_min_wage  fed_min_wage
2106  2007    AL            0.00          5.15
2107  2007    AK            7.15          5.15
2108  2007    AZ            6.75          5.15
2109  2007    AR            6.25          5.15
2110  2007    CA            7.50          5.15
...    ...   ...             ...           ...
2857  2020    VA            7.25          7.25
2858  2020    WA           13.50          7.25
2859  2020    WV            8.75          7.25
2860  2020    WI            7.25          7.25
2861  2020    WY            5.15          7.25

[756 rows x 4 columns]

In [52]:
years_df.shape

(756, 4)

In [45]:
#Writing Dataframe to csv file

years_df.to_csv('/content/drive/MyDrive/mini_wage_final.csv', index = False, encoding = 'utf-8')
##actual directory has been changed for github